.experience-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    width: 300px;
    display: inline-block;
  }
  h1 {

  }
}

.experience-img {
  height: 90vh
}
