<%= simple_form_for ([@experience, @booking]) do |f| %>
  <%= f.input :comment, placeholder: 'what to do in here?' %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', experiences_path  %>


<!-- <form action="/lists/:list_id/bookmarks"></form> -->





