<!-- this is the banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">


    <h1>London Film Experiences</h1>
    <p style= "font-size: 24px">We bring you an unique way of experience movies in <strong>London</strong>!</p>
    <p>Check out all the different movies that you can enjoy on the street of this cinematographic city.</p>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
<!-- this is the end of banner -->



<!-- this is the iteration through the cards -->
  <div class= "card-space">
    <div class="cards">
    <% @experiences.each do |experience| %>
        <%= link_to experience_path(experience) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= experience.image_url %>)">
          </div>
        <% end %>
    <% end %>
    </div>
  </div>

<%= link_to '- Add new experience -', new_experience_path  %>
<!-- this is the end of iteration through the cards -->



