.box {
  border: 1px solid #848484;
  border-radius: 6px;
  width: 550px;
  height: 580px;
  margin: 20px;
  padding: 16px;
}


.nextexperience {
  margin-top: 64px;

}

.text {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  // display: flex
  // margin-bottom: auto;
  // align-items: bottom;
  // justify-content: bottom;
  // text-align: bottom;
  // align-self: flex-end;
  // display: inline-block;
}
