.navbar-lewagon {
  justify-content: space-between;
  background: #2E2E2E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
      color: white !important;
  }
// .navbar {
//   height: 40xp;
// }

// .navbar-lewagon {
//   justify-content: space-between;
//   background: #2E2E2E;
//   background-color: transparent;
//   transition: 0.5s background-color ease;

// }
// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }
.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
// .navbar-lewagon-white {
//   background-color: #2E2E2E;
// }
// .navbar-container {
//   margin-bottom: 60px;
// }
// .avatar {
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
// }
